@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Mock Interview Application</h3>
   
</div>
<div>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" value=" " width="50"/>
</div>
<div>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" value=" " width="50"/>
</div>
<div>
    <label for="company">Company</label>
    <input type="text" id="company" value=" " width="50"/>
</div>
<div>
    <label for="linkedIn">LinkedIn</label>
    <input type="text" id="linkedIn" value=" "/>
</div>
<div>
    <label for="phNo">Phone No</label>
    <input type="text" id="phNo" value=" "/>
</div>
<div>
    <label for="email">Email</label>
    <input type="text" id="email" value=" "/>
</div>
<div>
    <label for="pwd">Password</label>
    <input type="text" id="pwd" value=" "/>
</div>
<div>
    <label for="cnfmPwd">Confirm Password</label>
    <input type="text" id="cnfmPwd" value=" "/>
</div>
<div>
    <input type="button" value="Sign Up" onclick=""/>
</div>
